/*
You will style your page using at least 10 CSS selectors for general CSS styling. You will place the CSS in its own file. You must style the is-green class to make text have a color of #00E676 and is-red class to make text have a color of #FF3D00.
*/
body{
    margin: 0;
    padding: 0;
    background-color: #f7cac9;
    color: whitesmoke;
}
html,body{
    height: 100%;
}
.header{
    text-align: center;
}
.formDiv{
    margin: 0 auto;
    width: 50%;
    height: 10vh;
    border: 2px dotted whitesmoke;
    padding: 1%;
}
.arrays{
    border: none;
    height: 10%;
}
.arrays:hover{
    height: 10vh;
}
.btn-submit{
    height: 5vh;
    width: 10%;
    color:whitesmoke;
    background-color:#990d00;
    border: none;
}
.btn-submit:hover{
    cursor: pointer;
    height: 10vh;
    width: 20%;
    color: red;
}
.forma{
    text-align: center;
}
.footer{
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 98%;
    display: flex;
    justify-content: space-between;
    border: 2px dotted whitesmoke;
    margin: 1%;
    padding: 10px;
    box-sizing: border-box;
}
.wrapper{
    position: relative;
    min-height: 86%;
}
.is-green{
    color: #00E676;
}
.is-red{
    color: #FF3D00;
}
li{
   margin-bottom: 2%;
}